@mixin flex($align-items, $justify-content, $flex-direction, $gap) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
	flex-direction: $flex-direction;
	gap: $gap;
}

@mixin position(
	$position,
	$top,
	$bottom,
	$left,
	$right,
	$translateX,
	$translateY
) {
	position: $position;
	top: $top;
	bottom: $bottom;
	left: $left;
	right: $right;
	transform: translate($translateX, $translateY);
}

// for desktop
@mixin lg(){
	@media (min-width: 1148px) {
		@content;
	}
}
@mixin md(){
	@media (max-width: 1148px) {
		@content;
	}
}
@mixin sm(){
	@media (max-width: 768px) {
		@content;
	}
}
@mixin xs(){
	@media (max-width: 500px) {
		@content;
	}
}
@mixin xxs(){
	@media (max-width: 360px) {
		@content;
	}
}

@mixin hide($flex-direction) {
	display: none;
	&.active {
		display: flex;
		flex-direction: $flex-direction;
	}
}

@mixin pageTitle() {
	display: block;
	margin-bottom: 3rem;
	width: 100%;
	&.sm {
		margin: 2rem 0;
		h4 {
			font-size: 2rem;
			position: relative;
		width: max-content;
		z-index: 1;
			&::after{
				content: '';
				@include position(absolute, null, 0, null, 0, 40%, 0%);
				opacity: .45;
				height: 20px;
				width: 30px;
				background-image: -webkit-repeating-radial-gradient(center center,$primary-color,$primary-color 1px,transparent 0px,transparent 100%);
				background-size: 6px 6px;
				z-index: -1;
		
		
			}
		}
	}
	h4 {
		color: #eee;
		font-family: 'Poppins', Helvetica, sans-serif;
		font-size: 3rem;
		font-weight: 600;
		text-transform: capitalize;
		position: relative;
		width: max-content;
		z-index: 1;
		.highlights {
			color: $primary-color;
		}
		&::after{
			content: '';
			@include position(absolute, null, 0, null, 0, 40%, 0%);
			opacity: .45;
			height: 30px;
			width: 50px;
			background-image: -webkit-repeating-radial-gradient(center center,$primary-color,$primary-color 1px,transparent 0px,transparent 100%);
			background-size: 6px 6px;
			z-index: -1;
	
	
		}
	}
}
