@import './mixins';
@import './variables';

#about-me {
	padding: 6rem;
	overflow: scroll;
	height: 100vh;
	&::-webkit-scrollbar {
		display: none;
	}
	@include xs {
		padding: 3rem;
	}
	&.content {
		@include hide(column);
	}
	.page-title {
		@include pageTitle();
	}

	.section-content {
		@include md{
			margin-bottom: 2rem;
		}
		.row {
			@include flex(flex-start, flex-start, row, 3rem);

			@include sm {
				flex-direction: column;
			}
			.left {
				max-width: 50%;
				@include lg {
					max-width: 50%;
				}
				@include sm {
					max-width: 100%;
				}
				p {
					color: #d5d5d5;
					font-family: Poppins, Helvetica, sans-serif;
					font-size: 1.6rem;
					font-weight: 400;
					@include xxs {
						font-size: 1.3rem;
					}
				}
			}

			.right {
				.info-list {
					li {
						@include flex(center, flex-start, row, 1rem);
						&:not(:last-child) {
							margin-bottom: 0.5rem;
						}
						p,
						a {
							text-transform: capitalize;
							font-family: Poppins, Arial, Helvetica, sans-serif;
							font-size: 1.6rem;
							font-weight: 500;
							text-decoration: none;
							@include xxs {
								font-size: 1.4rem;
							}
							&.title {
								color: $primary-color;
							}
							&.value {
								color: #d5d5d5;
								font-size: 1.5rem;
								@include xxs {
									font-size: 1.3rem;
								}
								&.email {
									text-transform: lowercase;
								}
							}
						}
					}
				}
			}
		}
	}

	.info-block-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
		@include xs {
			grid-template-columns: repeat(1, 1fr);
		}
		.info-block {
			.icon-wrapper {
				color: $primary-color;
				font-size: 3rem;
				opacity: 0.7;
			}

			.text {
				h4 {
					margin: 0.5rem 0 1rem;
					font-size: 1.6rem;
					text-transform: capitalize;
					font-weight: 500;
					color: #eee;
					font-family: Poppins, Arial, Helvetica, sans-serif;
					font-weight: 500;
				}
				p {
					color: #d5d5d5;
					font-family: Poppins, Arial, Helvetica, sans-serif;
					font-size: 1.4rem;
					@include xxs {
						font-size: 1.3rem;
					}
				}
			}
		}
	}
	.testimonial {
		margin-top: 4rem;
		.testimonial-controller-wrapper {
			position: relative;
			.swiper-controller {
				height: 3rem;
				@include position(absolute, 0%, null, null, 0, 0, 25%);
				width: 9rem;
				
				.swiper-button-next,
				.swiper-button-prev {
					height: 3rem;
					width: 3rem;
					background: #444;
					border-radius: .4rem;
					&::after {
						font-size: 1.5rem;
						font-weight: 600;
						color: #FFF;
					}
				}

			}
		}
		.testimonial-swiper {
			@include lg{
				max-width: 100rem;
			}
			
			.swiper{
				border: 1px solid transparent;
				width: 100%;
				.swiper-wrapper {
					margin-top: 6rem;
					height: 100%;
					.swiper-slide {
						border: 0.2rem solid #434343;
						border-radius: 2rem;
						position: relative;
						padding: 3rem 2rem 1rem;
						width: 100%;
						max-width: 70rem !important;

						
						.testimonial-image-wrapper {
							@include position(absolute, 0, null, 50%, null, -50%, -50%);
							width: 8rem;
							height: 8rem;
							border-radius: 50%;
							overflow: hidden;
							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
						.testimonial-content {
							margin-top: 2rem;
							.testimonial-text {
								color: #d5d5d5;
								font-family: Poppins, Arial, Helvetica, sans-serif;
								font-size: 1.5rem;
								font-style: italic;
							}
	
							.testimonial-foo {
								@include flex(center, space-between, row, null);
								margin-top: 2rem;
								.quote-author {
									h4 {
										font-size: 1.5rem;
										font-weight: 600;
										color: #f5f5f5;
										letter-spacing: 0.05rem;
										text-transform: capitalize;
										font-family: Poppins, Arial, Helvetica,
											sans-serif;
									}
									p {
										color: #bbb;
										font-size: 1.4rem;
									}
								}
								.quote-symbol {
								}
							}
						}
					}
				}
			}
		  }
	}
}
